@model IEnumerable<MemberRegistrationDTO>
@{
    ViewBag.Title = "Member Registration Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

@section Scripts {

    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
}


<div class="container">
    <div class="clearfix"></div>
    <fieldset>
        <legend class="legend">Member Registration Details</legend>

        <div class="panel">

            <div class="panel-body">


                <div>
                    @Html.ActionLink("Create Member", "Create", "RegisterMember", null, new { @class = "btn btn-info btn-pressure" })
                </div>

                <div class="clearfix"></div>

                @(Html.Grid(Model).Build(columns =>
            {

               columns.Add(c => c.MemberNo).Titled("MemberNo").Filterable(true).Encoded(false);
               columns.Add(c => c.FullName).Titled("FullName").Filterable(true).Encoded(false);
               columns.Add(c => c.JoiningDate).Titled("JoiningDate").Formatted("{0:d}");
               columns.Add(c => c.DOB).Titled("DOB").Formatted("{0:d}");

               columns.Add(c => Html.ActionLink("Edit", "Edit", new { id = c.MemID })).Titled("EDIT").Encoded(false);
               columns.Add(c => Html.ActionLink("Delete", "Delete", new { id = c.MemID }, new { onclick = "return confirm('Are you sure you wish to delete this Member Registration?');" })).Titled("Delete").Encoded(false);

            }).Empty("No data found")
                .Sortable()
                .Pageable()
                )

            </div>
        </div>

    </fieldset>

</div>
