<div class="panel">

    <div class="panel-body">


        <div class="btn btn-warning btn-pressure" style="color:black;">
            Hello,@User.Identity.Name
        </div>

        <div class="btn btn-warning btn-pressure">
            @Html.ActionLink("Dashboard", "UserDashboard", "Dashboard")
        </div>

        @*<div class="btn btn-warning btn-pressure">
            @Html.ActionLink("Changepassword", "Changepassword", "Account")
        </div>*@

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {

            <a class="btn btn-danger btn-pressure" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        }

    </div>
</div>
